<h1>Profile Settings</h1>

<nav>
	<a href="/profile_profile">Profile</a>
	<a href="/profile_settings">Settings</a>
	<a href="/profile_account">Account</a>
</nav>

    <form id="loginForm">
		<p>Player 1</p>
        <div>
        <input type="text" id="keyb_p1_up" >
        <input type="text" id="keyb_p1_dn" >
        </div>

		<p>Player 2</p>
        <div>
        <input type="text" id="keyb_p2_up" >
        <input type="text" id="keyb_p2_dn" >
        </div>

        <div>
			<input type="submit" id="keybinds_submitbutton" value="Save">
        </div>
    </form>    


<script type="module" src="/public/templates/profile_settings.js"></script>
