
    <form id="signupForm">
        <div>Sign up</div>
        <div>
        <input type="text" id="userNameInput" placeholder="Entrez votre nom">
        </div>
        <div>
        <input type="text" id="userEmailInput" placeholder="Entrez votre email">
        </div>
        <div>
        <input type="password" id="passwordInput" placeholder="Entrez votre password">
        </div>
        <div>
        <input type="submit" id="suf_submitbutton" value="Creer votre compte">
        </div>
    </form>   

<button id="uuu">English</button>


<!--script>
console.log("script added") 

document.getElementById('uuu').addEventListener('click', function(event) {
//alert("huhuhuhuhuhu");
console.log("scriptButton was clicked") })

</script-->

    <script type="module" src="/public/templates/signup.js"></script>
