
    <form id="loginForm">
        <div>login</div>
        <div>
        <input type="text" id="userLoginInput" placeholder="Entrez votre username ou email">
        </div>
        <div>
        <input type="password" id="passwordInput" placeholder="Entrez votre password">
        </div>
        <div>
        <input type="submit" id="sif_submitbutton" value="Se connecter">
        </div>
    </form>    

    <a href="/signup">Create an account for free !!!</a>

    <script type="module" src="/public/templates/login.js"></script>
