<h1>Profile Account</h1>

<nav>
	<a href="/profile_profile">Profile</a>
	<a href="/profile_settings">Settings</a>
	<a href="/profile_account">Account</a>
</nav>

    <form id="changenameForm">
		<p>Current username</p>
        <input type="text" id="display_name" >
		<input type="submit" id="chgname_submitbutton" value="Save">
    </form>    

    <form id="changepwForm">
		<p>Change password</p>
		<div>
			Current password
        <input type="text" id="input_pw" >
		</div>
		<div>
			New password
		<input type="text" id="input_newpw" >
		</div>
		<input type="submit" id="chgpw_submitbutton" value="Save">
    </form>    




<script type="module" src="/public/templates/profile_account.js"></script>
